@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';


header, footer {
    background:
    
    /* bottom, image */
    /* image from Unsplash, Patrick Fore */
    /* https://unsplash.com/photos/0gkw_9fy0eQ */
    url("../images/header.jpg");
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    max-width: none;
    padding: 5vw 2em;
    text-align: center;
}

footer { background-position: bottom center }

header h1 {
    color: white;
    font-weight: 300;
    font-size: 2.5em;
}

/*header nav {
    padding-top: 2em;
}
*/
header a, footer a {
    border: 1px solid #999;
    border-radius: 290486px;
    color: #F7F2C1;
    font-weight: 300;

    font-size: 0.7em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    margin: 0.15em;

    text-transform: uppercase;
    /* removes underline from link */
    text-decoration: none;

    transition: none 200ms ease-out;
    transition-property: color, background;
}

header a:hover, footer a:hover {
    border: 1px solid white;
    background-color: white;
    color: #0B486B;
    text-decoration: none;
}

header li {
    margin: 1em 0;
    /* horizontal alignment and center */
    display: inline-block;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    margin: 0 auto;
    /*max-width: 50em;*/

    text-align: center;

    /* spacing */
    line-height: 1.5;

    color: rgba(32, 32, 32, 1);
    background-color: white;
}

#main {
    min-height: 24em;
    margin: 0 auto;
    padding: 2em 0;
    max-width: 50em;
}

h2 a {
    /*color: #FBA746;*/
    color: #E5740A;
    /*color: #4ECDC4;*/
}

h2 a:hover {
    color: #D5640A;
    text-decoration: none;
}

a { color: #D1A15A; }
a:hover { color: #B1813A; }

h1, h2, h3, h4, h5 {
    font-family: Merriweather, Times New Roman, serif;
}

h1 { 
    margin-top: 0.5em;
    padding-top: 0.5em;
}

h1, h2, strong {
    color: #333;
}

ul {
    list-style: none;
    /* ensure no indent */
    padding: 0;
    margin: 0;
}

p {
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 400;
}

.thing {
    padding: 1em 0.5em;
}

/* login */
.errorlist {
    color: #FF6B6B;
}

input {
    border: 1px solid #999;
    padding: 0.5em;
    font-size: 12pt;
    outline: none;
}

button[type=sumbit] {
    box-shadow: 0px 2px #eee;

    background-color: transparent;

    font-family: Open Sans, Arial, sans-serif;
    font-weight: 300;

    text-transform: uppercase;
    background: #F2E8C6;
    color: #333;
    padding: 0.75em;
}

button[type=sumbit]:hover {
    color: #555;
    border: 1px solid #E2D8B6;
    background-color: #E2D8B6;
    /*box-shadow: 0px 3px #eee;*/
}

.helptext {
    padding-top: 0.5em;
    display: block;
    color: #999;
}

input[name="name"] {
    font-size: 12pt;
    border: 1px solid #999;
}

textarea {
    margin: 0 auto;
    display: block;
    height: 50%;
    width: 40em;

    font-size: 12pt;

    border: 1px solid #999;
    /*border-radius: 10px;*/
    outline: none;
    resize: none;

    padding: 1em;
}

footer {
    padding: 3em 0;
}

.btn-warning {
    color: white;
}

p {
    margin: 1em;
}


footer div {
    padding: 1em 0;
}

/* mobile */
@media only screen and (max-width: 768px) {
    #main {
        padding: 0.5em;
    }
    header {
        padding: 0.5em;
    }

    header, footer {
        /*background:
        -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/header.jpg");
        background:
        -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/header.jpg");*/
        background:
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/header.jpg");,
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header h1, header nav {
        margin: 0.75em 0;
    }
    footer { padding: 1.5em; }
}