@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: "Roboto",  "Arial", sans-serif;
    margin: 0 auto;
    max-width: 50em;

    text-align: center;

    line-height: 1.5;
    padding: 4em 1em;

    color: #333;
}

h1 {
    margin-top: 1em;
    padding-top: 1em;
}

h1, h2, strong {
    color: #111;
}

ul {
    list-style: none;
    /* ensure no indent */
    padding: 0;
    margin: 0;
}
