{% extends 'base.html' %}
{% block title %}
    Confirm Password Reset - {{ block.super }}
{% endblock title %}

{% block content %}
    {% if validlink %}
        <h1>Confirm Password Reset</h1>
        <p>Please enter your password twice so we can verify you typed it in correctly.</p>
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="sumbit">Submit</button>
    </form>
    {% else %}
        <h1>Password Reset Unsuccessful</h1>
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
    {% endif %} 
{% endblock content %}
