{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
	<title>
            {% block title %}
                Wall of Things
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <h1>Wall of Things</h1>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a> 
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a> 
                    </li>
                    <li>
                        <a href="{% url 'browse' %}">Browse</a>
                    </li>
                </ul>
                <ul>
                {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'auth_logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'password_change' %}">Change Password</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'auth_login' %}">Login</a>
                            <a href="{% url 'registration_register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div id="main">
            
            {% block content %}{% endblock content %}
            {% block footer %}{% endblock footer %}
        </div>
        <footer>
            <a href="https://github.com/tyj144">Made by @tyj144</a>
            <a href="http://jgthms.com/web-design-in-4-minutes/">Design from @jgthms</a>
        </footer>
    </body>
</html>
