{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Welcome to the Wall</h1>
    <p>
    {% if user.is_authenticated %}
        Write 
    {% else %}
        Log in to write
    {% endif %}
        about something (but one thing only)!</p>

    {% for thing in things %}
        <h2>
            <a href="{% url 'thing_detail' slug=thing.slug %}">
                {{ thing.name }}
            </a>
        </h2>
        <p>{{ thing.description }}</p>
    {% endfor %}
{% endblock content %}
