{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Hello World!</h1>
    <p>I am a basic website.</p>
    
    <!-- our variable --!>
    <p>There are 6 dogs.
    {% if number == 6 %}
        True 
    {% else %}
        False
    {% endif %}
    </p>
    
    <p>
       There are {{ number|apnumber }} walrus{{ number|pluralize:"es" }}!
    </p>
   
    <p>
        This is my name: {{ thing|truncatewords:1 }}.
    </p>
{% endblock content %}
