{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h1>Welcome to the Wall</h1>
    <p>
    {% if user.is_authenticated %}
        Write 
    {% else %}
        <a href="{% url 'auth_login' %}">Log in</a> to write
    {% endif %}
        something on it.</p>

    {% for thing in things %}
    <div class="thing">
        <h2>
            <a href="{% url 'thing_detail' slug=thing.slug %}">
                {{ thing.name }}
            </a>
        </h2>
        <p>by {{ thing.user }}</p>
        <p>{{ thing.description }}</p>
    </div>
    {% endfor %}
{% endblock content %}
